header, footer {
    margin: 0;
    width:100%;
    padding: 0;
    border-radius: 0;
    border: none;
    background-color: [[setting:themeheading1color]];
    background-image: -webkit-gradient(linear, left top, left bottom, from([[setting:themeheading1color]]), to([[setting:themeheading2color]])); /* Chrome, Safari 4+ */
    background-image: -webkit-linear-gradient(top, [[setting:themeheading1color]], [[setting:themeheading2color]]); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
    background-image:    -moz-linear-gradient(top, [[setting:themeheading1color]], [[setting:themeheading2color]]); /* Firefox 3.6-15 */
    background-image:      -o-linear-gradient(top, [[setting:themeheading1color]], [[setting:themeheading2color]]); /* Opera 11.10-12.00 */
    background-image:         linear-gradient(to bottom, [[setting:themeheading1color]], [[setting:themeheading2color]]); /* Chrome 26, Firefox 16+, IE 10+, Opera */
    color: [[setting:themeheadingtextcolor]];
}
header {
    height:150px;
}
    
#page-header {
    background: transparent url([[setting:logo]]) no-repeat 15px 15px;
    height:100px;
}
.dir-rtl #page-header {
    background: transparent url([[setting:logo]]) no-repeat 98% 15px;
}
.dir-rtl .headermenu .langmenu select {
    float:left;
}
#page-header .headermain {
    color: [[setting:themeheadingtextcolor]];
    text-shadow: 1px 1px 1px [[setting:thememenu1color]];
    margin-left: 91px;
    margin-top: 0px;
    float:left;
    clear:both;
}
.headermenu {
    font-size:1em;
    float:right;
    height:55px;
}
.logininfo {
    color:[[setting:themeheadingtextcolor]];
}
.logininfo a, .logininfo a:hover, .logininfo a:visited {
    color:[[setting:thememenu2color]];
}


/* Breadcrumbs
   ----------- */
nav#breadcrumb {
    border: none;
    border-radius: 0;
    width: 90%;
    margin: 0 auto;
    padding: 0;
    background: none repeat scroll 0 0 transparent;
}

.social {
    margin: 0 0 0 150px;
    padding-top: 12px;
    width: 200px;
    float:left;
}
.social img {
    height: 24px;
    margin: 0 2px;
    width: 24px;
}

.footnotes {
    width:92%;
    margin:0 auto;
}
.footnoteleft, .footnotecenter, .footnoteright {
    width:30%;
    margin:0 1%;
    display:inline-block;
}
@media screen and (max-width: 720px) {
    .footnotes {
        display:block;
    }
    .footnoteleft, .footnotecenter, .footnoteright {
        display:block;
        width:92%;
        margin:0 auto;
    }
}
.footnoteleft {
}
.footnotecenter {
}
.footnoteright {
}
