/* Create side-pre as a flex-box container above outlinewrap on my-page 
 * ------------------------------------------------------------------------- */
#page-my-index aside.pre .region-content {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    width:92%;
    margin: 0 auto;
    padding: 0;
    border-radius: 0;
    border: none;
}
@media screen and (max-width: 720px) {
/*Because of the lack of support for flex-wrap in FF, the simplest solution 
 *to bring the areas back in below each other is simply to override the 
 *flexbox layout and display using display:block. */
    #page-my-index aside.pre .region-content {
        display:block;
    }
}
#page-my-index aside.pre .region-content .block {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    min-width:180px;
}

#page-my-index section.main, #page-my-index aside.post {
    margin: 0;
    padding: 0;
}
.block_course_overview .content h2.title {
    font-size: 1.25em;
}
